# Conversions
conversions/

# Database files
*.db
database/*.db
database/*.sqlite
database/*.sqlite3

# PDF files
pdfs/*.pdf
*.pdf

# test_relevance
test_relevance/

# Log files
*.log
logs/

# Python
__pycache__/
*.py[cod]
*.class
.env
venv/

# OS files
.DS_Store

# Misc files
zmisc/